.statistics {
  margin: 50px 0;
  padding-top: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 300px;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  border-color: var(--navy-blue-color);
  box-shadow:
    0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.statsList {
  list-style-type: none;
  padding-top: 20px;
  display: flex;
}
.item {
  flex-basis: 60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid lightgray;
  padding: 5px 0;
  background-color: pink;
}
.title {
  text-transform: uppercase;
  font-size: 16px;
}
.label {
  color: white;
  font-size: 14px;
}
